<div class="container">
  <div class="row">
    <h2>Data</h2>
    <div class="col-md-6"><h3>Average Age:</h3>
    <table class="table table-striped">
      <tr><td><%= @get_robot_average_age %></td></tr>
    </table></div>

    <div class="col-md-4"><h3>Robots Hired Per Year: </h3>
    <table class="table table-striped">
      <% @group_by_hire_year.each do |date_hired|%>
        <tr><td><%= date_hired["year"] %>: </td>
          <td><%= date_hired["COUNT(id)"] %></td>
        </tr>
        <% end %>
    </table></div>


    <div class="row">
      <div class="col-md-4"><h3>Robots In Each Department: </h3>
      <table class="table table-striped">
        <% @group_by_department.each do |department|%>
        <tr>
          <td><%= department["department"] %>: </td>
          <td><%= department["COUNT(id)"] %></td>
          <% end %>
        </table></div>
      <div class="col-md-4">  <h3>Robots In Each City: </h3>
        <table class="table table-striped">
          <% @group_by_city.each do |city|%>
          <tr>
            <td><%= city["city"] %>: </td>
            <td><%= city["COUNT(id)"] %></td>
          </tr>
          <% end %>
        </table></div>
      <div class="col-md-4"><h3>Robots In Each State: </h3>
      <table class="table table-striped">
        <% @group_by_state.each do |state|%>
        <tr>
          <td><%= state["state"] %>: </td>
          <td><%= state["COUNT(id)"] %></td>
      </tr>
      <% end %>
    </table></div>
    </div>

  </div>
</div>
